extends layout

block content
  div.outer-grid
    div.departure
      #{line_div_0}
        p #{line_name_0}
      div.inner-departure
        div.direction
          p #{direction_0}
        div.ankunft
          p
      div.when
        p #{when_0}
    div.departure
      #{line_div_1}
        p #{line_name_1}
      div.inner-departure
        div.direction
          p #{direction_1}
        div.ankunft
          p
      div.when
        p #{when_1}
    div.departure
      #{line_div_2}
        p #{line_name_2}
      div.inner-departure
        div.direction
          p #{direction_2}
        div.ankunft
          p
      div.when
        p #{when_2}
    div.departure
      #{line_div_3}
        p #{line_name_3}
      div.inner-departure
        div.direction
          p #{direction_3}
        div.ankunft
          p
      div.when
        p #{when_3}
    div.departure
      #{line_div_4}
        p #{line_name_4}
      div.inner-departure
        div.direction
          p #{direction_4}
        div.ankunft
          p
      div.when
        p #{when_4}